@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body{
    font-family: 'Source Sans Pro', sans-serif;

    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
 
}
*{
    box-sizing: border-box;
}


.mycontainer{
    width: 90%;
    margin: auto;
    padding: 0;
    padding-bottom: 100px;
    margin-top: 40px;
}
.content{
    width: 100%;
    margin-top: 15px;
}

.column-100,
.column-75,
.column-50,
.column-25{
    float: left;
}
.column-100{width: 100%;}
.column-75{width: 69%;}
.column-50{width: 50%;}

.column-25{width:23%;}


  .form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.545);
  }

  .navbar {
    padding:0rem;
    margin-bottom:2rem;
  }
  
  .dropdown .dropdown-menu {
    border-radius:0;
   }

   div .sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
}
  
  
  /* Medium devices (tablets, 768px and up) 
  The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    border-radius:0;
   }
  }
.scroller{
    color: red;
    overflow-y: scroll;
}
.altcizgi .bir {
    flex-grow: 1;
    font-size: 14px ;
    
   
    text-align: center !important;
}
.altcizgi .iki {
   display: block;
   border-bottom: 6px solid transparent  ;
}
.altcizgi .bir .iki:hover {
   color: #81C14B !important;
}
.altcizgi .bir :hover{
    border-bottom: 6px solid #81C14B;
}
.yazi a{
text-decoration: none;
color: #333333;
}
.yazi a:hover{
    text-decoration:underline;
}
.yazi p{
    color:#333333;
}
.giris:hover{
    text-decoration: underline;
}
.kayit:hover{
    text-decoration: underline;
}

.kutu:hover{
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
}
.cizgi:hover{
    text-decoration: underline;
}
.card::-webkit-scrollbar{
    background-color: white;
    border: 1px solid white ;
    width: 8px;
    
   
}
.card::-webkit-scrollbar-track {
    
    border-radius: 10px;
    }
    
.card::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    
    background-color: #f8f9fa; 
    border-radius: 10px;
    
    }
    


.alt a{
    color: #333;
    text-decoration: none;
}
.mesaj{
    width: 74px !important;
    height: 26px !important; 
    border: none; 
    border-radius: 0;
    background-image: url(img/message.png);
    background-repeat: no-repeat; 
    padding: 5px; 
    display: inline;
}
.mesaj a{
    width: 74px;
    font-size: 12px;
    color: black;
    margin-left: 5px;
    text-decoration: none;
}
@media screen and (max-width:1500px) {
    .reklam1{
        width: 110%;
    }
    
}
@media screen and (max-width:1490px) {
    .column-75{
        margin-left: 1%;
    }
}
@media screen and (max-width:1425px) {
    .navbarust{
        margin-left: 50px !important;
    }
    .navbaralt{
        margin-left: 60px !important;
    }
    .reklam1{
        width: 112% !important;
    }
}

@media screen and (max-width:1390px) {
    .column-75{
        margin-left: 1%;
    }
    .card{
        width: 14% !important;
    }
    
}
@media screen and (max-width:1280px) {
    .navbar{
        width: 117%;
    }
    .reklam1{
        width: 115% !important;
    }
    .altreklam,
    .alt,
    .althr
    {
        width: 117% !important;
    }
}
@media screen and (max-width:1205px) {
   
    .reklam1{
        width: 118% !important;
    }
  
}
@media screen and (max-width:1050px) {
   
    .sagreklam{
        display: none;
       
    }

    .column-75 .yazi{
        width: 120% !important;
    }
    .column-25 .card{
        margin-left: 0px !important;
        width: 20% !important;
    }

}
@media screen and (max-width:850px) {

    .navbarust{
        margin-left: 0px !important;
    }
    .navbaralt{
        margin-left: 0px !important;
    }
    .gundem,
    .debe
    {
        width: 50px !important;
    }
    .column-25 .card{
        display: none;
       }
    .column-75{
     width: 100%;
     margin-left: 0 !important;
    }
    .column-75 .yazi{
     width: 100% !important;
     margin-left: 25px !important;
    }
    .mycontainer{
     width: 100%;
    }
    .reklam1{
     width: 100% !important;
     margin-top: 0 !important;
     height: 300px;

    }
    .altreklam,
    .alt,
    .althr{
     width: 100% !important;
    
    }
}